.btn{
	width: 150px;
}

#currentOSPic{
	width:200px;
	height:200px;
}

.center{
	text-align: center;
}

#marginDown{
	margin-top: 15px;
}

#myModal{
	margin-top: 75px;
	width: 750px;
	height: 275px;
	margin-left:25%;
	background-color: white;
	text-align: center;
}