.center{
	text-align: center;
	vertical-align: middle;
}

img{
	width: 125px;
	height: 125px;
}

#pokeImage{
	width: 400px;
	height: 400px;
}

#pokeInfo{
	background-color: rgb(255,255,255);
	text-align: center;
}
