.center{
	text-align: center;
}

.marginDown{
	margin-top: 15px;
}

#alertDiv{
	margin-top: 75px;
	margin-left: 75px;
	margin-right: 75px;
}

.alert{
	text-align: center;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
